<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="Package Source" value="http://vmm-dis-tom.redmond.corp.microsoft.com/api/v2/" />
    <!--<add key="Package Source" value="https://nuget.org/api/v2/" />-->
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>